doctype html
html
    head
        title Blitz Minimal
    body
        h1 Blitz Minimal
        p This is a minimal Blitz template. Technically, Blitz only needs the `config.yml` file to function, but I added `templates/index.pug` because otherwise there would be nothing to see here :)
        a(href='https://www.getblitz.io/docs/') Click here to read the documentation