.container
    hr
    footer
        .row
            .col-lg-12
                p.pull-right Generated using
                    a(href='https://getblitz.io')= ' Blitz'
                p &copy; Blitz 2016
